<!-- About Section -->
<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About TRACE</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <p>The TRACE project is addressing challenges in trusting and verifying
          the results of computational research. The integrity of results is uncertain
          when their lineage or production cannot be validated, but verification through
          repeating executions is expensive and inefficient -- when possible. TRACE is
          developing a model of certified transparency whereby the original execution of a
          computational workflow is certified by the system on which they were run.
          </p>
      </div>
    </div>
  </div>
</section>
